head
  meta(charset="utf-8")
  title BreakPong Login
  link(rel="stylesheet" href="static/css/main.css")
  link(href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css')
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js")
  block headerScripts