<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>BreakPong Login</title>
	<link rel="stylesheet" href="static/css/main.css" />
	<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="static/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="static/vendor/angular-route/angular-route.js"></script>
</head>
<body ng-app="pongBreakApp">
	<div class="viewArea">
		<a href="/auth/google">Sign in with Google</a>
	</div>
	<script type="text/javascript">
		// login script
	</script>
</body>
</html>