extends master

block headerScripts
  script(type="text/javascript" src="static/vendor/angular/angular.js")
  script(type="text/javascript" src="static/vendor/angular-route/angular-route.js")
  script(type="text/javascript" src="/socket.io/socket.io.js")

block scripts
  script(type="text/javascript" src="static/app/chat.js")
  script(type="text/javascript" src="static/app/main.js")

block content
  div.viewArea(ng-app="pongBreakApp" ng-controller="masterController" ng-init="$scope.user = '#{user}'")
    ul.menu
      li
        a(href="#/lobby") Lobby
      li
        a(href="#/account") Account [{{$scope.user}}]
      li
        a(href="#/game") Game
    div(ng-view)
    div#chatWindow(ng-include="'static/app/partials/chat.html'")