extends master

block headerScripts
  script(type="text/javascript" src="static/vendor/angular/angular.js")
  script(type="text/javascript" src="static/vendor/angular-route/angular-route.js")

block content
  div.viewArea(ng-app="pongBreakApp" ng-controller="masterController")
    ul.menu
      li
        a(href="#/lobby") Lobby
      li
        a(href="#/account") Account
      li
        a(href="#/game") Game
    div(ng-view)
    div#chatWindow(ng-include="'static/app/partials/chat.html'")
    script(type="text/javascript" src="static/app/main.js")