<div class="game">
	<h1>Game Screen</h1>
	<div id="gameContainer"></div>

	<script type="text/javascript" ng-src="static/js/tp/Simple.js"></script>
	<script type="text/javascript" ng-src="static/js/components/TwoDCanvas.js"></script>
	<script type="text/javascript" ng-src="static/js/components/Entity.js"></script>
	<script type="text/javascript" ng-src="static/js/components/Component.js"></script>
	<script type="text/javascript" ng-src="static/js/components/System.js"></script>
	<script type="text/javascript" ng-src="static/js/components/DisplaySystem.js"></script>
	<script type="text/javascript" ng-src="static/js/components/PhysicsSystem.js"></script>
	<script type="text/javascript" ng-src="static/js/components/GameEngine.js"></script>
	<script type="text/javascript" ng-src="static/js/game.js"></script>
</div>